@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply antialiased;
  @apply bg-background text-foreground;

  min-height: 100vh;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  @font-face {
    font-family: "Fragment Mono";
    src: url("/fonts/fragment-mono-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Fragment Mono";
    src: url("/fonts/fragment-mono-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Fricolage";
    src: url("/fonts/fricolage-grotesque.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-bold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-bold-italic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-medium-italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(736px, 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.logo {
  fill: currentColor;
}

.imageContainer > span {
  position: unset !important;
}

.nextImage {
  object-fit: contain;
  max-width: 100% !important;
  position: relative !important;
  height: unset !important;
}

pre {
  @apply text-sm px-6 py-4 bg-secondaryBg border border-gray-100 rounded-md overflow-x-auto;
}
