@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  @font-face {
    font-family: "Fragment Mono";
    src: url("/fonts/fragment-mono-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Fragment Mono";
    src: url("/fonts/fragment-mono-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Fricolage";
    src: url("/fonts/fricolage-grotesque.woff2") format("woff2");
    font-weight: 325;
    font-style: normal;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-bold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-bold-italic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Mackinac";
    src: url("/fonts/mackinac-medium-italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
  }
}

.nextImage {
  object-fit: contain;
  max-width: 100% !important;
  position: relative !important;
  height: unset !important;
}
